<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuht.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.liuht.entity.Org">
    <constructor>
      <idArg column="ORG_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PARENT_ORG_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ORG_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COSTOMNO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORG_TYPE" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="ORG_ID_PATH" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORG_NAME_PATH" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORG_LEVEL" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="SORT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_CREATER" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="ORG_STATUS" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="IS_LEAF" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ORG_ID, PARENT_ORG_ID, ORG_NAME, COSTOMNO, ORG_TYPE, ORG_ID_PATH, ORG_NAME_PATH, 
    ORG_LEVEL, SORT, USER_CREATER, USER_CREATE_TIME, ORG_STATUS, IS_LEAF
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hy_org
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hy_org
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuht.entity.Org">
    insert into hy_org (ORG_ID, PARENT_ORG_ID, ORG_NAME, 
      COSTOMNO, ORG_TYPE, ORG_ID_PATH, 
      ORG_NAME_PATH, ORG_LEVEL, SORT, 
      USER_CREATER, USER_CREATE_TIME, ORG_STATUS, 
      IS_LEAF)
    values (#{orgId,jdbcType=INTEGER}, #{parentOrgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, 
      #{costomno,jdbcType=VARCHAR}, #{orgType,jdbcType=TINYINT}, #{orgIdPath,jdbcType=VARCHAR}, 
      #{orgNamePath,jdbcType=VARCHAR}, #{orgLevel,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{userCreater,jdbcType=INTEGER}, #{userCreateTime,jdbcType=TIMESTAMP}, #{orgStatus,jdbcType=TINYINT}, 
      #{isLeaf,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.liuht.entity.Org">
    insert into hy_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="parentOrgId != null">
        PARENT_ORG_ID,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="costomno != null">
        COSTOMNO,
      </if>
      <if test="orgType != null">
        ORG_TYPE,
      </if>
      <if test="orgIdPath != null">
        ORG_ID_PATH,
      </if>
      <if test="orgNamePath != null">
        ORG_NAME_PATH,
      </if>
      <if test="orgLevel != null">
        ORG_LEVEL,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="userCreater != null">
        USER_CREATER,
      </if>
      <if test="userCreateTime != null">
        USER_CREATE_TIME,
      </if>
      <if test="orgStatus != null">
        ORG_STATUS,
      </if>
      <if test="isLeaf != null">
        IS_LEAF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="parentOrgId != null">
        #{parentOrgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="costomno != null">
        #{costomno,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null">
        #{orgType,jdbcType=TINYINT},
      </if>
      <if test="orgIdPath != null">
        #{orgIdPath,jdbcType=VARCHAR},
      </if>
      <if test="orgNamePath != null">
        #{orgNamePath,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null">
        #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="userCreater != null">
        #{userCreater,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null">
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgStatus != null">
        #{orgStatus,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuht.entity.Org">
    update hy_org
    <set>
      <if test="parentOrgId != null">
        PARENT_ORG_ID = #{parentOrgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="costomno != null">
        COSTOMNO = #{costomno,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null">
        ORG_TYPE = #{orgType,jdbcType=TINYINT},
      </if>
      <if test="orgIdPath != null">
        ORG_ID_PATH = #{orgIdPath,jdbcType=VARCHAR},
      </if>
      <if test="orgNamePath != null">
        ORG_NAME_PATH = #{orgNamePath,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null">
        ORG_LEVEL = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="userCreater != null">
        USER_CREATER = #{userCreater,jdbcType=INTEGER},
      </if>
      <if test="userCreateTime != null">
        USER_CREATE_TIME = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgStatus != null">
        ORG_STATUS = #{orgStatus,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null">
        IS_LEAF = #{isLeaf,jdbcType=TINYINT},
      </if>
    </set>
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuht.entity.Org">
    update hy_org
    set PARENT_ORG_ID = #{parentOrgId,jdbcType=INTEGER},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      COSTOMNO = #{costomno,jdbcType=VARCHAR},
      ORG_TYPE = #{orgType,jdbcType=TINYINT},
      ORG_ID_PATH = #{orgIdPath,jdbcType=VARCHAR},
      ORG_NAME_PATH = #{orgNamePath,jdbcType=VARCHAR},
      ORG_LEVEL = #{orgLevel,jdbcType=INTEGER},
      SORT = #{sort,jdbcType=INTEGER},
      USER_CREATER = #{userCreater,jdbcType=INTEGER},
      USER_CREATE_TIME = #{userCreateTime,jdbcType=TIMESTAMP},
      ORG_STATUS = #{orgStatus,jdbcType=TINYINT},
      IS_LEAF = #{isLeaf,jdbcType=TINYINT}
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </update>
</mapper>